<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="left-side-container">
      <div id="left-side-container-navbar">
        <img
          src="/images/svgviewer-output.png"
          style="height: 30px; width: 30px"
          alt="Image Description"
        />
        <button
          id="endpoint"
          type="button"
          style="
            text-align: center;
            width: 15vw;
            height: 3.5vh;
            font-weight: 700;
          "
          onclick="createuser()"
          endpoint="true"
        >
          Create User
        </button>
      </div>

      <div id="left-side-container-searchbar">
        <input type="search" id="search" />
        <button type="button">search</button>
      </div>

      <div id="left-side-container-users">
        <h4 style="font-size: 1.2rem; border-bottom: 2px solid black; text-align: center; margin-bottom: 10px;">
            Online Users
        </h4>
        <h4 class="createroom" style="font-size: 1.2rem;
        border-bottom: 2px solid black">Trial User 1</h4>
        
        <% userarray.forEach((user) => { %>
          
                <h4 class="createroom" style="font-size: 1.2rem;
                border-bottom: 2px solid black"><%= user %></h4>
         
            
        <% }); %>
        
    </div>
    </div>
       
    <!-- ////////////////////////////////////////////////////////////////////////////////// -->
    <div id="right-side-container">
      <div id="right-side-container-navbar">
        <h4
          id="receiver_user"
          style="
            font-size: 1.8rem;
            border-bottom: 2px solid black;
            color: white;
          "
        ></h4>
      </div>
      <div id="messagecontainer"></div>

      <div id="right-side-container-message">
        <input type="search" id="message" />
        <button type="button" onclick="sendmessage()">Send</button>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script>
      /* logic 
              create user first  -- completed

               whenever i will click on a single user container that is in left section 
              first right side navbar pe user id and past messages
              
              then socket.room mein add ho jaaygea voh chiz 
              then i will emit only to that room in server side
           */

      const socket = io();

      //step 1  (creating endpoint)
      function createuser() {
        if (
          Boolean(document.getElementById("endpoint").hasAttribute("endpoint"))
        ) {
          const userid = prompt("what is user id will be");
          // this endpoint will always remain same sooo
          console.log(
            Boolean(
              document.getElementById("endpoint").getAttribute("endpoint")
            )
          );
          socket.emit("endpoint", { receiver: userid });
          document.getElementById("endpoint").removeAttribute("endpoint");
          
        } else {
          alert("you already have existing user");
        }
      }

      //step 2
      document.querySelectorAll(".createroom").forEach((ele) => {
        ele.addEventListener("click", (event) => {
          console.log(event.target.innerText);
          document.getElementById("receiver_user").innerText =
            event.target.innerText;
          document.getElementById("messagecontainer").innerHTML = ``;
          socket.emit("joinroom", { room: event.target.innerText });
        });
      });

      //step 3

      function sendmessage() {
        const data = document.getElementById("message").value;
        document.getElementById("message").value = ``;
        socket.emit("message", { text: data });
      }

      socket.on("message_recieved", (text) => {
        appendmessage(text.message);
      });

      function appendmessage(data) {
        const textnode = document.createTextNode(data);
        const element = document.createElement("h5");

        element.append(textnode);
        document.getElementById("messagecontainer").appendChild(element);
      }
    </script>
  </body>
</html>
